<mat-card>
    <mat-card-header>
      <mat-card-title>Confirmar exclusão de produto</mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <form>
          <mat-form-field appearance="outline">
              <input matInput disabled placeholder="Nome" [value]="product.name" name="name">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
              <input matInput disabled placeholder="Preço (R$)" [value]="product.price" name="price">
          </mat-form-field>
      </form>
      <button mat-raised-button (click)="deleteProduct()" color="warn">
        Remover
      </button>
  
      <button mat-raised-button (click)="cancel()">Cancelar</button>
    </mat-card-content>
  </mat-card>
